.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.form-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-img{
    height: 30em;
}

.form-block .form-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-block .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    font-family: 'Poppins', sans-serif;
}

.img-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b3c3a8;
    height: 100%;
}

.form-block .user-info-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.form-block .input-block{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 2px solid #586D48;
    width: 20em;
    margin-top: 10px;
    height: 40px;
}

.span-required{
    display: none;
    color:#a71f1f;
    font-size: 12px;
}

.required{
    display: none;
    /* align-items: center; */
    border-bottom: 2px solid #a71f1f;
    width: 20em;
    margin-top: 7px;
    height: 40px;
}

.form-block .input{
    outline: none;
    border: none;
    width: 80%;
    margin-left: 10px;
}

.form-block .input-size{
    width: 94%;
}

.form-block .btn{
    margin-top: 55px;
    width: 10em;
}

.form-block .section{
    display: none;
}

.form-block .active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-block .icon-green{
    color: #586D48;
}

.form-block .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.form-block .label-interesse label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3c3a8;
    border-radius: 10px;
    border: 1px solid #586D48;
    padding: 10px;
    margin: 6px;
    cursor: pointer;
}

.form-block .label-interesse input:checked + label{
    background-color: #859579;
    border: 1px solid #424f38;
}

.form-block .label-interesse input{
    appearance: none;
}

.form-block .subtitle{
    display: flex;
    justify-content:center ;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

.form-block .subtitle-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px){

    .main-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .form-block .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .form-block .img-block{
        display: none;
    }

    .form-block .input-block{
        width: 17em;
        margin-top: 7px;
        height: 30px;
    }

    .form-block .title{
        font-size: 25px;
    }

    .form-block .line{
        width: 10em;
    }

    .form-block .btn{
        width: 8em;
        height: 40px;
    }
}