@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    padding: 7em 7em 3em 7em ;
}

.table{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.search-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44em;
}

.search{
    outline: none;
    border-radius: 10px;
    height: 3em;
    width: 20em;
    border: 1px solid #d0d0d0;
    padding-left: 10px;
    margin-right: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 45px;
    background-color: #94a588;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 1px 7px #94a588;
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
}

.btn-color{
    background-color: #586D48;
    box-shadow: 1px 1px 7px #586D48;
}

.btn:hover{
    background-color: #b3c3a8;
    color: #fff;
}

.header-table{
    font-weight: bold;
    background-color: #242920;
    color: #fff;
}

.page-nav{
    margin-top: 3em;
}

.page-link{
    color: #242920;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.line{
    width: 14em;
    height: 5px;
    background-color: #C7D6BB;
    border-radius: 10px;
    margin-top: 15px;
}

@media screen and (max-width: 768px){
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .search-block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0;
    }
    
    .search{
        height: 45px;
        width: 15em;
        padding-left: 7px;
        margin-right: 0;
        margin-bottom: 13px;
    }

    .btn{
        width: 20em;
        height: 40px;
        font-size: 12px;
        padding: 7px;
        margin-bottom: 10px;
    }
}