@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    padding: 7em 7em 3em 7em ;
}

.table{
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.search-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44em;
}

.search{
    outline: none;
    border-radius: 10px;
    height: 3em;
    width: 20em;
    border: 1px solid #d0d0d0;
    padding-left: 10px;
    margin-right: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 45px;
    background-color: #94a588;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 1px 7px #94a588;
    text-transform: uppercase;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
}

.btn-color{
    background-color: #586D48;
    box-shadow: 1px 1px 7px #586D48;
}

.btn:hover{
    background-color: #b3c3a8;
    color: #fff;
}

.header-table{
    font-weight: bold;
    background-color: #242920;
    color: #fff;
}

.page-nav{
    margin-top: 3em;
}

.page-link{
    color: #242920;
}

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.line{
    width: 14em;
    height: 5px;
    background-color: #C7D6BB;
    border-radius: 10px;
    margin-top: 15px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7em 3em 3em 3em;
}

.text-block{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
}

.title-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.paragraph-text{
    margin-top: 3em;
    width: 25em;
    text-align: justify;
}

.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 35em;
}

.saiba-mais{
    margin-top: 25px;
    width: 27em;
    height: 50px;
    border: 1px solid #586D48;
    padding: 10px;
    border-radius: 5px;
    background-color: #586D48;
    color: #fff;
}

.center-itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-icon{
    margin-right: 10px;
    font-size: 15px;
    color: #fff;
}

.line-thin{
    height: 1px;
    background-color: #afafaf;
    width: 25em;
}

@media screen and (max-width: 425px){
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .search-block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0;
    }
    
    .search{
        height: 45px;
        width: 15em;
        padding-left: 7px;
        margin-right: 0;
        margin-bottom: 13px;
    }

    .btn{
        width: 20em;
        height: 40px;
        font-size: 12px;
        padding: 7px;
        margin-bottom: 10px;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }
    
    .text-block{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
    }
    
    .title-block{
        font-size: 20px;
    }
    
    .paragraph-text{
        margin-top: 3em;
        width: 15em;
        text-align: justify;
    }
    
    .img{
        height: 17em;
    }
    
    .saiba-mais{
        height: 55px;
        width: 20em;
        padding: 10px;
        font-size: 12px;
        color: #fff;
    }
    
    .center-itens{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (min-width: 425px) and (max-width: 768px){

    .grid{
        display: flex;
        flex-direction: column;
    }
    
    .text-block{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
    }
    
    .title-block{
        font-size: 20px;
    }
    
    .paragraph-text{
        margin-top: 3em;
        width: 22em;
        text-align: justify;
    }
    
    .img{
        height: 25em;
    }
    
    .saiba-mais{
        height: 55px;
        width: 30em;
        padding: 10px;
        font-size: 12px;
    }
    
    .center-itens{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}