
/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    box-shadow: 10px 0px 12px rgb(212, 212, 212);
    padding: 10px 10px;
    width: 100%;
    height: 4em;
    position: fixed;
}

.logo{
    height: 25px;
    margin-right: 70em;
}

.perfil{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.foto-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    object-fit: cover;
}

/* Aside */
.barra-lateral{
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-top: 3em;
    background-color: #53604a;
    height: 43em;
    width: 20em;
    box-shadow: 0px 10px 12px rgb(195, 195, 195);
    position: fixed;
    margin-top: 4em;
}

.list-style{
    list-style: none;
    margin-top: 20px;
}

.link-style{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #fff;
    padding-left: 10px;
    font-weight: 500;
    cursor: pointer;
}

.btn-block{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 30px;
}

.margin-5{
    margin-left: 5px;
}

.sub-list{
    color: #b3c3a8;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.sub-list:hover{
    color: #fff;
    /* background-color: #94a588;
    padding: 10px;
    width: 100%; */
}

