.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100vw;
}

.form-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-img{
    height: 30em;
}

.form-title{
    display: flex;
    flex-direction: column;
    /* margin-top: 2em; */
    margin-right: 8em;
    /* margin-bottom: 3em; */
}

.title{
    font-size: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.img-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b3c3a8;
    height: 100%;
}

.user-info-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.user-info-block-int{
    border: 1px solid #bdbdbd;
    padding: 10px 0 10px 0;
    border-radius: 7px;
}

.input-block{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #586D48;
    width: 26em;
    margin-top: 7px;
    height: 40px;
}

.input{
    outline: none;
    border: none;
    width: 90%;
    margin-left: 10px;
}

.input-size{
    width: 94%;
}

.btn-margin{
    margin-top: 3em;
    width: 10em;
    margin-bottom: 3em;
}

.section{
    display: none;
}

.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-green{
    color: #586D48;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 32vw;
    margin-top: 20px;
}

.label-interesse{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.label-interesse label{
    cursor: pointer;
}

.label-style{
    color: #6c6c6c;
    margin-top: 25px;
}

/* .label-interesse input:checked + label{
    background-color: #859579;
    border: 1px solid #424f38;
} */

.check-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 26em;
}

.checkbox{
    appearance: none;
    -webkit-appearance: none;
    height: 25px;
    width: 25px;
    border: 1px solid #AB7BC8;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    margin-right: 20px;
}

.checkbox::after{
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 15px;
    font-weight: 600;
    display: none;
    color: #fff;
}

.checkbox:hover{
    background-color: #e6c8f7;
}

.checkbox:checked::after{
    display: block;
    background-color: #602E80;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox input:checked{
    display: block;
}

.label-interesse input{
    appearance: none;
}

.subtitle{
    display: flex;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 23px;
}

.subtitle-block{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-title-block{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding-left: 5em;
}

.form-subtitle{
    width: 19em;
    color: #9b9b9b;
    font-size: 15px;
}

.line-config{
    margin-top: 0;
    margin-bottom: 27px;
    background-color: #AB7BC8;
    width: 12em;
}

.btn{
    width: 15em;
    height: 50px;
}

.redirecionar-login{
    margin-right: 13em;
    color: #000;
}

.purple-link{
    color: #A173BD;
}

.terms-block{
    display: flex;
    flex-direction: row;
    width: 17em;
    margin-top: 20px;
}

.back-green-btn{
    color: #AABE9B;
    font-size: 30px;
}

.back-span{
    color: #dddddd;
    text-decoration: none;
}

.back-block{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 10em;
}

.terms-label{
    font-size: 15px;
}

.span-required{
    display: none;
    color:#a71f1f;
    font-size: 12px;
}

.required{
    display: none;
    /* align-items: center; */
    border-bottom: 2px solid #a71f1f;
    width: 20em;
    margin-top: 7px;
    height: 40px;
}

.label-content-int{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.int-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    box-shadow: 1px 3px 7px rgb(167, 167, 167);
    border-radius:10px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.int-content:hover{
    border-bottom: 4px solid #A173BD;
    background-color: #e4daef;
}

.input-interesse:checked + .int-content{
    border-bottom: 4px solid #A173BD;
    background-color: #e4daef;
}

.img-interesse{
    height: 40px;
}

.btn-section-config{
    padding: 10px;
    width: 12em;
}

.btn-back{
    background-color: #A899B7;
    margin-right: 30px;
}

.btn-back:hover{
    background-color: #958e9d;
}

.btn-sign-up-block{
    display: flex;
    margin-top: 30px;
}

@media screen and (max-width:768px){

    .main-content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .img-block{
        display: none;
    }

    .input-block{
        width: 17em;
        margin-top: 7px;
        height: 30px;
    }

    .title{
        font-size: 25px;
    }

    .line{
        width: 10em;
    }

    .btn{
        width: 8em;
        height: 40px;
    }
    
    .form-title-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }

    .form-title{
        margin-right: 0;
    }
    
    .form-subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 17em;
        color: #9b9b9b;
    }

    .form-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        margin-top: 2em;
    }

    .redirecionar-login{
        margin-right: 0;
    }

    .check-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        padding: 20px;
        margin-top: 0;
        font-size: 12px;
        margin-left: 0;
    }

    .back-block{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-left: 7em;
        margin-top: 25px;
    }

    .container{
        width: 25em;
    }

    .btn-back{
        margin-left: 5em;
        margin-right: 10px;
    }

    .btn-section-config{
        margin-right: 4em;
    }

}