@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    /* overflow-x: hidden; */
    overflow: -moz-hidden-unscrollable;
}

.content{
    padding: 7em 7em 3em 7em ;
}

.search-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44em;
}

.search{
    outline: none;
    border-radius: 10px;
    height: 3em;
    width: 20em;
    border: 1px solid #d0d0d0;
    padding-left: 10px;
    margin-right: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #94a588;
    color: #fff;
    box-shadow: 1px 1px 7px #94a588;
    text-transform: uppercase;
    padding: 7px;
    border-radius: 7px;
    font-size: 12px;
    width: 9em;
    font-weight: bold;
    letter-spacing: 1px;
}

.link-style-none{
    text-decoration: none;
    color: #fff;
}

.btn-color{
    background-color: #586D48;
    box-shadow: 1px 1px 7px #586D48;
}

.btn:hover{
    background-color: #b3c3a8;
    color: #fff;
}

/* .navbar{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.page-nav{
    margin-top: 3em;
}

.page-link{
    color: #242920;
}

.title{
    font-weight: bold;
    font-size: 35px;
}

.line{
    width: 14em;
    height: 5px;
    background-color: #C7D6BB;
    border-radius: 10px;
    margin-top: 15px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7em 3em 3em 3em;
}

.text-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}

.paragraph-text{
    margin-top: 3em;
    width: 25em;
    text-align: justify;
}

.img-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 35em;
}

.center-itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-icon{
    margin-right: 10px;
    font-size: 15px;
    color: #fff;
}

.icon-color{
    color: #fff;
}

.navbar{
    padding-right: 50px;
}

.nav-ul{
    display: flex;
    padding-top: 15px;
    list-style: none;
}

.nav-li{
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-perfil{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.back-block{
    display: flex;
    justify-content: left;
    margin-left: 60px;
}

.logo-block{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.btn-block{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 32px;
    margin-top: 22px;
}

.purple-small-btn{
    background-color: #A173BD;
    /* width: 0em; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    color: #fff;
    box-shadow: 1px 1px 7px #A173BD;
    text-transform: uppercase;
    /* padding: 5px; */
    border-radius: 7px;
    font-size: 12px;
    width: 6em;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin-bottom: 20px;
}

.modal-window{
    width: 100vw;
    height: 100vh;
    /* position: relative; */
    /* top: 0;
    left: 0; */
    background-color: #bfbfbf2f;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 999; */
}

.modal-window > .modal{
    width: 60%;
    height: 250px;
    min-width: 450px;
    min-height: 400px;
    background-color: #fff;
    padding: 20px;
}

.modal-title-block{
    display: flex;
    justify-content: left;
    align-items: center;
}

.modal-title{
    color: #242920;
}

.modal-subtitle{

}

.modal-input-blcok{

}

.modal-input{

}

.btn-modal{

}

@media screen and (max-width: 426px){
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .search-block{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 0;
    }
    
    .search{
        height: 45px;
        width: 15em;
        padding-left: 7px;
        margin-right: 0;
        margin-bottom: 13px;
    }

    .btn{
        width: 20em;
        height: 40px;
        font-size: 12px;
        padding: 7px;
        margin-bottom: 10px;
    }

    .grid{
        display: flex;
        flex-direction: column;
    }
    
    .text-block{
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
    }
    
    .title-block{
        font-size: 20px;
    }
    
    .paragraph-text{
        margin-top: 3em;
        width: 15em;
        text-align: justify;
    }
    
    .img{
        height: 17em;
    }
    
    .saiba-mais{
        height: 55px;
        width: 20em;
        padding: 10px;
        font-size: 12px;
        color: #fff;
    }
    
    .center-itens{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-perfil{
        display: flex;
        /* grid-template-columns: 1fr 1fr 1fr; */
        justify-content: space-between;
        align-items: center;
        height: 4em;
    }
    
    .back-block{
        display: flex;
        justify-content: left;
        margin-left: 30px;
        margin-bottom: 14PX;
    }
    
    .logo-block{
        display: none;
        /* justify-content: center;
        align-items: center;
        padding-left: 0; */
    }

    .logo{
        display: none;
    }

    .logo-nome{
        display: none;
    }
    
    .btn-block{
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 30px;
        margin-bottom: 14px;
    }
    
    .purple-small-btn{
        background-color: #A173BD;
        /* width: 0em; */
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        color: #fff;
        box-shadow: 1px 1px 7px #A173BD;
        text-transform: uppercase;
        /* padding: 5px; */
        border-radius: 7px;
        font-size: 12px;
        width: 6em;
        font-weight: bold;
        letter-spacing: 1px;
        border: none;
        margin-bottom: 0;
    }
    
}

@media screen and (min-width: 426px) and (max-width: 768px){

    .grid{
        display: flex;
        flex-direction: column;
    }
    
    .text-block{
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;
    }
    
    .title-block{
        font-size: 20px;
    }
    
    .paragraph-text{
        margin-top: 3em;
        width: 22em;
        text-align: justify;
    }
    
    .img{
        height: 25em;
    }
    
    .saiba-mais{
        height: 55px;
        width: 30em;
        padding: 10px;
        font-size: 12px;
    }
    
    .center-itens{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-perfil{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        height: 5em;
    }
    
    .back-block{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 30px;
        margin-bottom: 22px;
    }
    
    .logo-block{
        display: none;
        /* justify-content: center;
        align-items: center;
        padding-left: 0; */
    }
    
    .btn-block{
        display: flex;
        justify-content: right;
        align-items: center;
        margin-right: 15px;
        margin-top: 0;
        margin-bottom: 10px;
    }
    
}