
.join-us{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 3em;
    background-image: url(../img/wave-haikei.svg);
    background-repeat: no-repeat;
}

.join-us-text-block{
    width: 35em;
    margin-right: 5em;
    margin-left: 5em;
}

.join-us-title{
    font-size: 40px;
    font-weight: bold;
    width: 13em;
    margin-bottom: 30px;
    font-weight: 1000;
}

.join-us-text{
    font-size: 18px;
    width: 24em;
    margin-bottom: 40px;
    text-align: justify;
}

.btn-purple{
    width: 9em;
    height: 50px;
    background-color: #A173BD;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
}

.btn-purple a{
    color: #fff;
    text-decoration: none;
}

.join-us-img-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-us-img{
    height: 37em;
}

.green-block-explain{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    height: 23em;
    background-color: #AABE9B;
    padding-left: 17em;
    margin-top: 5em;
    margin-bottom: 3em;
    /* border-radius: 10px; */
    font-family: 'Poppins', sans-serif;
}

.green-title-block{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.green-block-img{
    height: 45px;
    margin-right: 30px;
    opacity: 1;
}

.green-block-title{
    color: #586D48;
    font-weight: bolder;
    font-size: 30px;
}

.green-block-text{
    color: #fff;
    font-size: 23px;
    width: 40em;
    /* font-weight: 700; */
    text-align: justify;
}

.timeline{
    padding: 5em 10em;
}

.timeline-title-block{
    margin-bottom: 2em;
}

.timeline-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.timeline-section{
    min-height: 50vh;
    padding: 5em 3em;
}

.timeline-items{
    width: 66em;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
}

.timeline-items::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #715987;
    left: calc(50% - 1px);
    border-radius: 20px;
}

.timeline-item{
    width: 100%;
    position: relative;
}

.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}

.timeline-dot{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #A173BD;
    position: absolute;
    left: calc(50% - 8px);
    margin-top: 9px;
}

.timeline-card-title{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    display: flex;
    align-items: center;  
    margin-bottom: 8px;
}

.timeline-content{
    background-color: #D2BFE3;
    padding: 36px;
    border-radius: 10px;
    text-align: justify;
    color: #2E104A;
}

.icon-timeline{
    color: #AABE9B;
    font-size: 20px;
    margin: 8px;
}

.align-right{
    margin-left: 18em;
    width: 100%;
}

.line{
    width: 8em;
    margin-left: 2px;
}

.our-partners{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #AABE9B;
    margin-top: 4em;
    width: 100%;
    height: 49em;
}

.partners-block{
    display: none;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    width: 70%;
    padding: 3em;
    height: 37em;
    border-radius: 10px;
}

.active-display{
    display: grid;
}

.our-partners-text-block{
    width: 30em;
    padding: 40px;
}

.our-partners-title{
    font-weight: bold;
    font-size: 28px;
}

.our-partners-description{
    margin-top: 50px;
}

.description-title{
    font-size: 20px;
    font-weight: 700;
    color:715987;
    margin-bottom: 20px;
}

.description-text{
    width: 21em;
    text-align: justify;
    font-size: 15px;
}

.partners-card-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.partners-card-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 23em;
    width: 16em;
    background-color: #BBA1D4;
    border-radius: 10px;
    margin-left: 6em;
    margin-top: 3em;
}

.partners-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23em;
    width: 16em;
    background-color: #715987;
    position: absolute;
    /* margin-right:30px;
    margin-top: 10px; */
    margin-bottom: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    /* margin-top: 6em; */
    padding: 20px;
}

.partners-name{
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    width: 8em;
    margin-bottom: 20px;
}

.btn-partners-card{
    width: 10em;
    height: 40px;
    background-color: #94a588;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size:15px;
}

.btn-partners-card a{
    text-decoration: none;
    color: #fff;
}

.partners-img{
    height: 11em;
    margin-bottom: 20px;
    border-radius: 10px;
}

.btn-block{
    margin-top: 2em;
    margin-left: 80%;
}

.btn-details{
    width: 5em;
    margin-left: 20px;
}

.btn-back{
    width: 5em;
    height: 40px;
    border: 1px solid #AABE9B;
    box-shadow: 1px 1px 7px #94a588;
    border-radius: 10px;
    color: #586D48;
    background-color: #fff;
}

.btn-back:hover{
    background-color: #e1e1e1;
    color: #1b2414;
}

@media screen and (max-width: 767px){
    
    .join-us{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 5em;
    }

    .join-us-text-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 16em;
        padding: 30px;
    }

    .join-us-title{
        text-align: center;
        font-size: 20px;
    }

    .join-us-text{
        font-size: 17px;
        width: 15em;
        margin-bottom: 60px;
        text-align: justify;
    }

    .join-us-img{
        height: 20em;
        padding-bottom: 3em;
    }

    .green-block-explain{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 35em;
        background-color: #AABE9B;
        padding: 10px;
        /* margin-top: 5em;
        margin-bottom: 3em; */
        /* border-radius: 10px; */
        font-family: 'Poppins', sans-serif;
    }

    .green-title-block{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
        padding: 20px;
    }

    .green-block-img{
        height: 50px;
        margin-right: 15px;
    }

    .green-block-title{
        margin-top: 20px;
        font-size: 24px;
    }

    .green-block-text{
        color: #fff;
        font-size: 20px;
        width: 12em;
        /* font-weight: 700; */
        text-align: justify;
    }

    .timeline{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .timeline-title-block{
        margin-bottom: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .timeline-title{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 25px;
    }

    .timeline-section{
        min-height: 30vh;
        padding: 0;
    }

    .timeline-items{
        width: 20em;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-right: 60px;
    }

    .timeline-items::before{
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background-color: #715987;
        left: 103%;
    }

    .timeline-item{
        width: 95%;
        position: relative;
        margin-left: 10px;
    }

    .timeline-item:nth-child(odd){
        padding: 0;
        /* text-align: right; */
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .icon-position{
        display: flex;
        flex-direction: row-reverse;
    }

    .timeline-dot{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: #A173BD;
        position: absolute;
        left:103%;
        margin-top: 9px;
    }

    .timeline-card-title{
        color: #000;
        font-size: 18px;
        font-weight: bold;
        /* text-align: left; */
        display: flex;
        align-items: left;  
        margin-bottom: 8px;
        margin-top: 35px;
    }

    .timeline-content{
        background-color: #D2BFE3;
        padding: 25px;
        border-radius: 10px;
        text-align: justify;
        color: #2E104A;
    }

    .icon-timeline{
        color: #AABE9B;
        font-size: 20px;
        margin: 8px;
    }

    .align-right{
        margin-left: 5em;
        width: 100%;
    }

    .line{
        width: 8em;
        margin-left: 2px;
    }

    .our-partners{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #AABE9B;
        margin-top: 4em;
        width: 100%;
        height: 60em;
    }

    .partners-block{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 70em;
        padding: 40px;
        height: 37em;
        border-radius: 10px;
    }

    .active-display{
        display: flex;
        height: 50em;
    }

    .our-partners-text-block{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20em;
        padding: 40px;
    }

    .our-partners-title{
        font-weight: bold;
        font-size: 20px;
    }

    .our-partners-description{
        margin-top: 50px;
    }

    .description-title{
        font-size: 20px;
        font-weight: 700;
        color:#715987;
        margin-bottom: 20px;
    }

    .description-text{
        width: 16em;
        text-align: justify;
        font-size: 15px;
    }

    .partners-card-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .partners-card-empty{
        display: none;
    }

    .partners-card{
        height: 20em;
        width: 14em;
        margin-left: 0;
        margin-top: 0;
    }

    .partners-name{
        color: #fff;
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        width: 8em;
        margin-bottom: 20px;
    }

    .btn-partners-card{
        width: 9em;
        height: 35px;
        background-color: #94a588;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size:15px;
    }

    .partners-img{
        height: 9em;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .btn-block{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 22em;
        margin-right: 45em;
    }
}


@media screen and (min-width: 768px) and (max-width: 1023px){
    
    .join-us{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 5em;
    }

    .join-us-text-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 30px;
    }

    .join-us-title{
        text-align: center;
        font-size: 27px;
    }

    .join-us-text{
        font-size: 20px;
        width: 30em;
        margin-bottom: 60px;
        text-align: center;
    }

    .join-us-img{
        height: 40em;
        padding-bottom: 3em;
    }

    .green-block-explain{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 30em;
        background-color: #AABE9B;
        padding: 10px;
        /* margin-top: 5em;
        margin-bottom: 3em; */
        /* border-radius: 10px; */
        font-family: 'Poppins', sans-serif;
    }

    .green-title-block{
        margin-bottom: 30px;
        padding: 20px;
    }

    .green-block-img{
        height: 50px;
        margin-right: 15px;
    }

    .green-block-title{
        margin-top: 20px;
        margin-right: 12em;
        font-size: 25px;
    }

    .green-block-text{
        color: #fff;
        font-size: 20px;
        width: 30em;
        /* font-weight: 700; */
        text-align: justify;
    }

    .timeline{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .timeline-title-block{
        margin-bottom: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .timeline-title{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 25px;
    }

    .timeline-section{
        min-height: 30vh;
        padding: 0;
    }

    .timeline-items{
        width: 36em;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin-right: 60px;
    }

    .timeline-items::before{
        content: '';
        position: absolute;
        width: 6px;
        height: 100%;
        background-color: #715987;
        left: 103%;
    }

    .timeline-item{
        width: 95%;
        position: relative;
        margin-left: 10px;
    }

    .timeline-item:nth-child(odd){
        padding: 0;
        /* text-align: right; */
    }

    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }

    .icon-position{
        display: flex;
        flex-direction: row-reverse;
    }

    .timeline-dot{
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: #A173BD;
        position: absolute;
        left: 36em;
        margin-top: 9px;
    }

    .timeline-card-title{
        color: #000;
        font-size: 18px;
        font-weight: bold;
        /* text-align: left; */
        display: flex;
        align-items: left;  
        margin-bottom: 8px;
        margin-top: 35px;
    }

    .timeline-content{
        background-color: #D2BFE3;
        padding: 25px;
        border-radius: 10px;
        text-align: justify;
        color: #2E104A;
    }

    .icon-timeline{
        color: #AABE9B;
        font-size: 20px;
        margin: 8px;
    }

    .align-right{
        /* margin-left: 5em; */
        width: 100%;
    }

    .line{
        width: 8em;
        margin-left: 2px;
    }

    .our-partners{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #AABE9B;
        margin-top: 4em;
        width: 100%;
        height: 60em;
    }

    .partners-block{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 70em;
        padding: 40px;
        height: 37em;
        border-radius: 10px;
    }

    .active-display{
        display: flex;
        height: 50em;
    }

    .our-partners-text-block{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 20em;
        padding: 40px;
    }

    .our-partners-title{
        font-weight: bold;
        font-size: 20px;
    }

    .our-partners-description{
        margin-top: 50px;
    }

    .description-title{
        font-size: 20px;
        font-weight: 700;
        color:#715987;
        margin-bottom: 20px;
    }

    .description-text{
        width: 16em;
        text-align: justify;
        font-size: 15px;
    }

    .partners-card-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .partners-card-empty{
        display: none;
    }

    .partners-card{
        height: 20em;
        width: 14em;
        margin-left: 0;
        margin-top: 0;
    }

    .partners-name{
        color: #fff;
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        width: 8em;
        margin-bottom: 20px;
    }

    .btn-partners-card{
        width: 9em;
        height: 35px;
        background-color: #94a588;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size:15px;
    }

    .partners-img{
        height: 9em;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .btn-block{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 22em;
        margin-right: 45em;
    }
}
