
.profile-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-purple-block{
    background-color: #EBDEF7;
    width: 100%;
    height: 13em;
    position: relative;
}

.social-midia-profile-block{
    display: flex;
    flex-direction: row;
    padding: 25px;
}

.social-midia{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AABE9B;
    height: 30px;
    width: 30px;
    margin-right: 12px;
    border-radius: 5px;
}

.social-midia-icon{
    color: #fff;
    font-size: 18px;
}

.edit-profile .social-midia-icon{
    margin-right: 7px;
}

.edit-profile-position{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.edit-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 5em;
    padding: 7px;
    background-color: #AABE9B;
    border-radius: 5px;
    width: 7em;
    color: #fff;
    margin-left: 0;
    cursor: pointer;
}

.edit-profile-span{
    font-size: 12px;
}

.img-profile-block-ong{
    height: 16em;
    width: 16em;
    border-radius: 50%;
    position: absolute;
    margin-bottom: 40em;
    overflow: hidden;
}

.img-profile-block-ong > img{
    height: 16em;
    width: 16em;
    object-fit: cover;
    margin: 0;
}

.img-profile-block{
    height: 16em;
    width: 16em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-bottom: 50em;
    overflow: hidden;
}

.img-profile-block > img{
    height: 16em;
    width: 16em;
    object-fit: cover;
}

.user-profile-info{
    margin-top: 8em;
}

.text-profile-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 10em; */
}

.user-name{
    font-size: 25px;
    font-weight: bold;
}

.line-profile-config{
    width: 7em;
}

.user-profile-int{
    display: flex;
    flex-direction: row;
}

.label-content-int{
    margin: 0;
}

.content-int{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    box-shadow: 1px 3px 7px rgb(167, 167, 167);
    border-radius:10px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 20px;
}

.int-img{
    height: 40px;
}

.user-story{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 30px;
    width: 100%;
}

.trajectory{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin: 50px;
    box-shadow: 1px 3px 7px rgb(167, 167, 167);
    border-radius: 10px;
    padding: 2em;
    height: 20em;
    width: 40em;
}

.trajectory-ong{
    width: 70em;
    height: 25em;
}

.head-trajectory{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2em;
    width: 100%;
}

.pjcts-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.pjcts{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 15px 0px 15px;
    transition: ease-in-out 0.3s;
    border: 1px solid #EBDEF7;
}

.pjcts:hover{
    transform: translate(1px, 2%);
}

.pjcts:active{
    transform: translate(0.5px, 2%);
    border: 1px solid #EBDEF7;
    box-shadow: 0px 0px 3px #a2a2a2;
    cursor: pointer;
    opacity: 0.5;
    border: none;
    border-bottom: 2px solid #8FA381;
    box-sizing: border-box;
}

.pjcts > img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
}


.subtitle-profile{
    font-size: 20px;
    font-weight: bold;
}

.green-small-block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: #8FA381;
    margin-left: 20px;
    border-radius: 5px;
}

.green-small-block > p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    height: 100%;
    width: 100%;
    margin: 0;
}

.link-style-none{
    text-decoration: none;
}

.ong-missao{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin-top: 20px;
    width: 25em;
    text-align: center;
}

@media screen and (max-width: 320px){

    .profile-purple-block {
        background-color: #EBDEF7;
        width: 100%;
        height: 17em;
        position: relative;
    }
    
    .trajectory{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        /* margin: 50px; */
        box-shadow: 1px 3px 7px rgb(167, 167, 167);
        border-radius: 10px;
        padding: 1em;
        height: 55em;
        width: 20em;
    }
    
    .head-trajectory{
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        /* margin-bottom: 10em; */
        margin-left: 20px;
    }

    .img-profile-block-ong{
        height: 12em;
        width: 12em;
        border-radius: 50%;
        position: absolute;
        margin-bottom: 68em;
        overflow: hidden;
    }

    .img-profile-block-ong > img{
        height: 12em;
        width: 12em;
        object-fit: cover;
        margin: 0;
    }
    
    .img-profile-block{
        height: 12em;
        width: 12em;
        border-radius: 50%;
        position: absolute;
        margin-bottom: 65em;
        overflow: hidden;
    }

    .img-profile-block > img{
        height: 12em;
        width: 12em;
        object-fit: cover;
        margin: 0;
    }
    
    .social-midia-icon{
        color: #fff;
        font-size: 18px;
    }
    
    .edit-profile .social-midia-icon{
        margin-right: 0;
    }
    
    .edit-profile-position{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    
    .edit-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 23px;
        margin-top: 8em;
        padding: 7px;
        background-color: #AABE9B;
        border-radius: 5px;
        width: 2em;
        color: #fff;
        margin-left: 0;
    }
    
    .edit-profile-span{
        display: none;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px){

    .profile-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .profile-purple-block{
        background-color: #EBDEF7;
        width: 100%;
        height: 16em;
        position: relative;
    }
    
    .social-midia-profile-block{
        display: flex;
        flex-direction: row;
        padding: 25px;
    }
    
    .social-midia{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #AABE9B;
        height: 30px;
        width: 30px;
        margin-right: 12px;
        border-radius: 5px;
    }
    
    .social-midia-icon{
        color: #fff;
        font-size: 18px;
    }
    
    .edit-profile .social-midia-icon{
        margin-right: 0;
    }
    
    .edit-profile-position{
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    
    .edit-profile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 23px;
        margin-top: 8em;
        padding: 7px;
        background-color: #AABE9B;
        border-radius: 5px;
        width: 2em;
        color: #fff;
        margin-left: 0;
    }
    
    .edit-profile-span{
        display: none;
    }

    .img-profile-block-ong{
        height: 16em;
        width: 16em;
        border-radius: 50%;
        position: absolute;
        margin-bottom: 37em;
        overflow: hidden;
    }

    .img-profile-block-ong > img{
        height: 16em;
        width: 16em;
        object-fit: cover;
        margin: 0;
    }
    
    .img-profile-block{
        height: 16em;
        width: 16em;
        border-radius: 50%;
        position: absolute;
        margin-bottom: 65em;
        overflow: hidden;
    }

    .img-profile-block > img{
        height: 16em;
        width: 16em;
        object-fit: cover;
        margin: 0;
    }

    .profile-img{
        height: 16em;
        width: 16em;
        position: absolute;
    }
    
    .user-profile-info{
        margin-top: 8em;
    }
    
    .text-profile-block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* margin-bottom: 10em; */
    }
    
    .user-name{
        font-size: 25px;
        font-weight: bold;
    }
    
    .line-profile-config{
        width: 7em;
    }
    
    .user-profile-int{
        display: flex;
        flex-direction: row;
    }
    
    .label-content-int{
        margin: 0;
    }
    
    .content-int{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        width: 55px;
        box-shadow: 1px 3px 7px rgb(167, 167, 167);
        border-radius:10px;
        margin-bottom: 12px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        margin-top: 20px;
    }
    
    .int-img{
        height: 40px;
    }
    
    .user-story{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
    }
    
    .trajectory{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        /* margin: 50px; */
        box-shadow: 1px 3px 7px rgb(167, 167, 167);
        border-radius: 10px;
        padding: 1em;
        /* height: 20em; */
        width: 100%;
    }
    
    .head-trajectory{
        display: flex;
        justify-content: left;
        align-items: center;
        flex-direction: row;
        /* margin-bottom: 10em; */
        margin-left: 20px;
    }
    
    .subtitle-profile{
        font-size: 17px;
        font-weight: bold;
        text-align: center;
    }

    .pjcts-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
    }

    .ong-missao{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        margin-top: 20px;
        width: 25em;
        text-align: center;
    }
}