body{
    background-color: #F3F3F3;
}
.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark-purple-block{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7em;
    background-color: #715987;
    padding-left: 35px;
    align-items: end;
}

.btn-project{
    padding: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    background-color: #F3F3F3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 10px;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-event{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    background-color: #D9D9D9;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}

.filter-block{
    background-color: #F3F3F3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 5em 3em 5em;
}

.filter-icon{
    font-size: 25px;
}

.ong-project{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ong-project .filter-icon{
    color: #D2BFE3;
}

.ong-project-span{
    margin-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.projects-cards-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25em;
    width: 18em;
    /* border: 1px solid #000; */
    border-radius: 10px;
    margin: 2em;
    background-color: #fff;
    box-shadow: 1px 1px 7px #b8b8b8;
}

.project-img-block{
    height: 10em;
    width: 100%;
    overflow: hidden;
}

.project-img-block > img{
    height: 10em;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
}

.card-title-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.card-title{
    font-size: 16px;
    width: 12em;
    text-align: center;
    margin-top: 30px;
}

.line{
    width: 7em;
}

.project-info{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    width: 100%;
    padding-left: 40px;
}

.name-span{
    margin-left: 5px;
}

.margin{
    margin-left: 10px;
}

.btn-project-card{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    background-color: #94a588;
    color: #fff;
    box-shadow: 1px 1px 7px #94a588;
    /* text-transform: uppercase; */
    height: 40px;
    width: 7em;
    border-radius: 10px;
}

.card-title-add{
    font-size: 20px;
    font-weight: bold;
}

.icon-add-project{
    margin-top: 25px;
    font-size: 60px;
    color: #715987;
}