.sobre-content{
    display: flex;
    flex-direction: column;
}

.sobre{
    display: flex;
    flex-direction: column;
    height: 35em;
    /* position: relative; */
    background-color: #4A5641;
}

.green-block-sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5em;
}

.info-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 10em;
    padding-left: 45px;
}

.img-sobre{
    height: 38em;
    margin-top: 9em;
}

.title-sobre{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.text-sobre{
    color: #C7D6BB;
    width: 27em;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-size: 16px;
    margin-top: 30px;
    /* font-weight: 600; */
}

.purple-info-block{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292032;
    background-color: #D2BFE3;
    border-radius: 5px;
    width: 17em;
    height: 43px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 25px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.purple-info-block .icon{
    font-size: 25px;
    font-weight: bold;
    color: #715987;
}

.purple-block-text{
    margin-left: 10px;
}

.citacao-block{
    margin: 7em 15em 7em 15em;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10em;
}

.hashtag-title{
    color:  #AB7BC8;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.text-hashtag-block{
    color: #000;
    font-size: 32px;
    width: 30em;
    text-align: justify;
    font-weight: 700;
}

.sub-text{
    color: #586D48;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}

.MVV{
    margin-top: 50em;
    background-color: #715987;
    height: 70em;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    position: relative;
}

.MVV-title-block{
    margin: 7em 10em 5em 10em;
}

.MVV-title{
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.line{
    width: 8em;
    background-color: #AABE9B;
    height: 7px;
    border-radius: 10px;
}

.horizontal-bars{
    width: 63em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 14.5em;
}

.purple-line{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 21em;
    height: 20px;
    /* border-radius: 5px; */
    /* margin-left: 15em; */
}

.color1{
    background-color: #F6E8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.color2{
    background-color: #BBA1D4;
    position: relative;
}

.color3{
    background-color: #A173BD;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-MVV-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.card-MVV{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 17em;
    height: 20em;
    border-radius: 10px;
    border: 1px solid #AABE9B;
    background-color: #F0F3ED;
    margin: 2em;
}

.icon-MVV{
    color: #AABE9B;
    font-size: 25px;
}

.card-title-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #586D48;
    font-size: 25px;
    background-color: #AABE9B;
    width: 100%;
    height: 45px;
    margin-top: 15px;
}

.text-MVV{
    width: 13em;
    text-align: justify;
    margin-top: 2em;
}

.name-explain-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3c2e4 !important; 
    position: relative;
}

.name-explain-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 85em;
    border-radius:10px ;
    padding: 5em;
    position: absolute;
    /* top: 10px; */
    margin-top: 10em;
}

.name-explain-head-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    margin-left: 10em;
    margin-top: 30px;
}

.name-explain-title-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img{
    height: 60px;
    margin-right: 20px;
}

.name-explain-title{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.line{
    background-color: #D2BFE3;
    height: 7px;
    width: 10em;
    margin-left: 1em;
}

.name-explain-text-block{
}

.name-explain-text{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #313131;
    line-height: 30px;
    width: 50em;
}

.name-explain-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.name-explain-quote{
    color: #A173BD;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}