.sobre-content{
    display: flex;
    flex-direction: column;
}

.sobre{
    display: flex;
    flex-direction: column;
    height: 35em;
    /* position: relative; */
    background-color: #4A5641;
}

.green-block-sobre{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5em;
}

.info-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-bottom: 10em;
    padding-left: 45px;
}

.img-sobre{
    height: 38em;
    margin-top: 9em;
}

.title-sobre{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.text-sobre{
    color: #C7D6BB;
    width: 27em;
    font-family: "Poppins", sans-serif;
    text-align: justify;
    font-size: 17px;
    margin-top: 30px;
    /* font-weight: 600; */
}

.purple-info-block{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292032;
    background-color: #D2BFE3;
    border-radius: 5px;
    width: 17em;
    height: 43px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-top: 25px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.purple-info-block .icon{
    font-size: 25px;
    font-weight: bold;
    color: #715987;
}

.purple-block-text{
    margin-left: 10px;
}

.citacao-block{
    margin: 7em 15em 7em 15em;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10em;
}

.hashtag-title{
    color:  #AB7BC8;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.text-hashtag-block{
    color: #000;
    font-size: 32px;
    width: 30em;
    text-align: justify;
    font-weight: 700;
}

.sub-text{
    color: #586D48;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50px;
}

.MVV{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50em;
    background-color: #715987;
    height: 60em;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    position: relative;
    padding-bottom: 12em;
}

.MVV-title-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 5em;
}

.MVV-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: bold;
}

.line{
    width: 8em;
    background-color: #AABE9B;
    height: 7px;
    border-radius: 10px;
}

.horizontal-bars{
    width: 63em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin-left: 14.5em; */
}

.purple-line{
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 21em;
    height: 20px;
    /* border-radius: 5px; */
    /* margin-left: 15em; */
}

.color1{
    background-color: #F6E8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.color2{
    background-color: #BBA1D4;
    position: relative;
}

.color3{
    background-color: #A173BD;
    position: relative;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-MVV-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

.card-MVV{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 17em;
    height: 20em;
    border-radius: 10px;
    border: 1px solid #AABE9B;
    background-color: #F0F3ED;
    margin: 2em;
}

.icon-MVV{
    color: #AABE9B;
    font-size: 25px;
}

.card-title-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #586D48;
    font-size: 25px;
    background-color: #AABE9B;
    width: 100%;
    height: 45px;
    margin-top: 15px;
}

.text-MVV{
    width: 13em;
    text-align: justify;
    margin-top: 2em;
}

.name-explain-block{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3c2e4; 
    position: relative;
    height: 47em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.name-explain-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 85em;
    border-radius:10px ;
    padding: 5em;
    position: absolute;
    margin-bottom: 20em;
}

.name-explain-head-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    margin-left: 10em;
    margin-top: 30px;
}

.name-explain-title-block{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-img{
    height: 60px;
    margin-right: 20px;
}

.name-explain-title{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.line{
    background-color: #D2BFE3;
    height: 7px;
    width: 10em;
    margin-left: 1em;
}

.name-explain-text{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #313131;
    line-height: 30px;
    width: 50em;
    text-align: justify;
}

.name-explain-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
    color: #A173BD;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.girls-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin-top: 10em;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 47em;
}

.girls-title-block{
    margin-bottom: 7em;
    margin-right: 48em;

}

.girls-title{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding-left: 14px;
}

.girls-card-block{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80em;
    /* margin: 5em 7em; */
    position: relative;
}

.girls-card{
    border: 1px solid #A173BD;
    margin: 40px;
    height: 30em;
    border-radius: 10px;
    box-shadow: 6px 8px #BBA1D4;
    padding: 40px;
    position: relative;
}

.girls-text-block{
    font-family: "Poppins", sans-serif;
    margin-top: 8em;
}

.girls-name{
    font-size: 20px;
    font-weight: bold;
}

.girls-text{
    text-align: justify;
    font-size: 15px;
}

.social-midia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.social-midia-icon{
    background-color: #AABE9B;
    color: #fff;
    font-size: 25px;
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
}

.girls-img{
    height: 10em;
    border-radius: 100%;
    border: 1px solid #ae96c5;
    position: absolute;
    object-fit: cover;
    /* margin-bottom: 20em; */
    top: -45;
    margin-left: 3em;
}

.img-block{
    border-radius: 100%;
    object-fit: cover;
    position: absolute;
    margin-bottom: 25em;
}

.girls-hashtag-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
}

.girls-hashtag{
    font-family: "Poppins", sans-serif;
    color: #A173BD;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 768px){
    .sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 38em;
        /* background-color: none; */
    }

    .green-block-sobre{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 55em;
        /* background-color: none; */
        margin-right: 5em;
    }

    .img-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15em;
        margin-top: 3em;
    }
    
    .info-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    
    .title-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        margin: 0;
    }
    
    .text-sobre{
        color: #C7D6BB;
        width: 18em;
        font-family: "Poppins", sans-serif;
        text-align: justify;
        font-size: 12px;
        margin-top: 30px;
        /* font-weight: 600; */
    }
    
    .purple-info-block{
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        width: 18em;
        height: 30px;
        margin-top: 25px;
        font-size: 12px;
    }
    
    .purple-info-block .icon{
        font-size: 20px;
        font-weight: bold;
        color: #715987;
    }
}
